/* Animação de hover e elevação nos botões e blocos */
.Paper-root {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.Paper-root:hover {
  transform: translateY(-10px);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

/* Estilos para o botão interativo */
.MuiButton-root {
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.MuiButton-root:hover {
  background-color: #1a73e8;
  transform: translateY(-3px);
}

/* Tornar o layout totalmente responsivo */
@media (max-width: 768px) {
  .MuiContainer-root {
    padding: 10px;
  }

  .MuiTypography-h2 {
    font-size: 28px;
  }
s
  .MuiTypography-h5 {
    font-size: 18px;
  }

  .MuiPaper-root {
    margin-bottom: 20px;
  }
}
